/* CSS principal */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #212529; /* Fondo claro para mejor legibilidad */
    color: #333; /* Texto oscuro para mejor contraste */
    font-family: sans-serif; /* Tipografía moderna */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  }
  
  .heading {
    text-align: center;
    background-color: #2196f3; /* Azul primario para identidad de marca */
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.5rem; /* Tamaño de encabezado más grande para énfasis */
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Ajuste de espaciado para mejor disposición de botones */
    margin-bottom: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary, .btn-secondary {
    background-color: #2196f3; /* Azul primario para botones */
    color: white;
    font-weight: bold; /* Peso ligeramente más audaz para botones */
  }
  
  .btn-secondary {
    background-color: #f44336; /* Rojo secundario ajustado */
  }
  
  .panel {
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff; /* Fondo blanco para paneles */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  }
  
  .panel-heading {
    color: #333;
    padding: 10px;
    background-color: #e0e0e0; /* Fondo gris claro para encabezados de panel */
    border-radius: 5px 5px 0 0;
    margin: 0;
  }
  
  /* Estilos adicionales */
  
  .dialog-container {
    display: flex;
    justify-content: center;
  }
  
  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff; /* Fondo blanco para diálogos */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }


  .dialog-content[_ngcontent-ng-c4288837230]{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
  }
